a:link {
    color:#660033;
    text-decoration:none;
}
a:visited {
    color:#660033;
    text-decoration:none;
}
a:hover {
    color:#c60;
    text-decoration:underline;
}

/*
 img {
     border-left:      1px outset white;
     border-right:     1px outset black;
     border-top:       1px outset white;
     border-bottom:    1px outset black;
     }
*/
   .feldx {
     background-color: white;   
     border-collapse:collapse; 
     border: black solid 4px;
     font-family:Helvetica,Arial,sans-serif;font-size:20px;
     }
   .nx,.lx,.ox,.lox {
     border: black solid 1px;
     width:55px;
     height:55px;
     vertical-align:middle;
     text-align:center;}
   .lx,.lox {
     border-left: black solid 3px;
     }
   .ox,.lox {
     border-top: black solid 3px;
     }
   .ziffer,.hint{
      color: green;
      background-color: white;
      border: 0px solid black;
      width: 55px;
      height: 55px;  
      font-weight: normal;
      font-size: 22px;
      font-family:Verdana,Helvetica,Arial,sans-serif;
      text-align: center; 
      vertical-align: middle;
      }
   .hint{
      color: black;
      }

