<nav class="navbar navbar-inverse" style="padding:0.5%">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">PROGRAMMING PARADIGMS</a>
        </div>
        <ul class="nav navbar-nav navbar-center">
            <li>
                <a id="showUsername"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a data-target="#loginModal" data-toggle="modal" id="login"><span class="glyphicon glyphicon-user"></span> LOGIN</a></li>
        </ul>
    </div>
</nav>

<div id="loginModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span data-target="#loginModal" data-toggle="modal" id="close">&times;</span>
            <h2>Welcome Stranger!</h2>
        </div>
        <div class="modal-body" ALIGN="center">
            <br><br>
            <img src="../../../assets/images/favicon.png" style="width:135px;height:135px;">
            <br><br>
            <div class="input-group" id="loginInputs">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="username" type="text" class="form-control" placeholder="Enter your username">
            </div>
            <br>
            <div class="btn-group btn-group-lg">
                <button (click)="saveUsername()" type="button" class="btn btn-primary" id="btnLogin" data-target="#loginModal" data-toggle="modal">LOGIN</button>
            </div>
            <br><br>
        </div>
    </div>
</div>