<h4 style="background-color: #337ab7; color: #fff; border-radius: 4px; height: 5%; line-height: 40px; text-align: center">Opciones</h4>
<ul class="nav nav-pills nav-stacked" style="border-color:black;">
    <li><a href="#section1">Cargar</a></li>
    <li><a href="#section2">Guardar</a></li>

</ul><br>
<h4 style="background-color: #337ab7; color: #fff; border-radius: 4px; height: 5%; line-height: 40px; text-align: center">Tiempo</h4>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search Blog..">
    <span class="input-group-btn">
<button class="btn btn-default" type="button">
<span class="glyphicon glyphicon-search"></span>
    </button>
    </span>
</div>