<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <app-options></app-options>
        </div>

        <div class="col-sm-9">
            <div ALIGN="center">
                <h4>Paradigmas de Programación</h4>
            </div>
            <hr>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-7">
                        <app-sudoku></app-sudoku>
                    </div>
                    <div class="col-sm-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> SuDoKu
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i> Nuevo

                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-twitter fa-fw"></i> Reiniciar

                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-envelope fa-fw"></i> Comprobar

                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i> Resolver

                                    </a>

                                </div>
                                <!-- /.list-group -->

                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>