<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h4 style="background-color: #337ab7; color: #fff; border-radius: 4px; height: 5%; line-height: 40px; text-align: center">Opciones</h4>
            <ul class="nav nav-pills nav-stacked" style="border-color:black;">
                <li><a href="#section1">Cargar</a></li>
                <li><a href="#section2">Guardar</a></li>

            </ul><br>
            <h4 style="background-color: #337ab7; color: #fff; border-radius: 4px; height: 5%; line-height: 40px; text-align: center">Tiempo</h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
                <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>

        <div class="col-sm-9">
            <h4><small>Paradigmas de Programación</small></h4>
            <hr>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-7">
                            <app-sudoku></app-sudoku>                            
                    </div>
                    <div class="col-sm-5" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> SuDoKu
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> Nuevo
                               
                            </a>
                                    <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i> Reiniciar
                                
                            </a>
                                    <a href="#" class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i> Comprobar
                                
                            </a>
                                    <a href="#" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i> Resolver
                                
                            </a>

                                </div>
                                <!-- /.list-group -->

                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

