<div class="panel panel-primary">
    <div class="panel-heading" ALIGN="center">
        <i class="fa fa-bell fa-fw"></i> Sudoku Options
    </div>
    <div class="panel-body ">
        <!--<div class="list-group">
            <a (click)="generateNewSudoku()" class="list-group-item">
                 Nuevo
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-twitter fa-fw"></i> Reiniciar
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-envelope fa-fw"></i> Comprobar
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-tasks fa-fw"></i> Resolver
            </a>
        </div>-->

        <button (click)="generateNewSudoku()" type="button" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-play"></span>&nbsp;Nuevo</button>
        <button (click)="reload()" type="button" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-refresh"></span>&nbsp;Reiniciar</button>
        <button (click)="checkSudoku()" type="button" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-check"></span>&nbsp;Comprobar</button>
        <button (click)="solveSudoku()" type="button" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-flash"></span>&nbsp;Resolver</button>

    </div>
</div>