<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> SuDoKu
    </div>
    <div class="panel-body">
        <div class="list-group">
            <button (click)="generateNewSudoku()" class="list-group-item">
                <i class="fa fa-comment fa-fw"></i> Nuevo
            </button>
            <a href="#" class="list-group-item">
                <i class="fa fa-twitter fa-fw"></i> Reiniciar
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-envelope fa-fw"></i> Comprobar
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-tasks fa-fw"></i> Resolver
            </a>
        </div>
    </div>
</div>